*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

body{
    background-color: #5C527F;
    color: #DCD7C9;
}

body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: #878a8f;
}

body::-webkit-scrollbar-track{
    background-color: #fff;
}


header nav{
    
    /* position:fixed; */
    background-color: #3F4E4F;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header nav h1{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
header nav form{
    display: flex;
    justify-content: center;
}
form input[type="text"]{  
/* Attribute selector */
    flex-grow: 1;
    margin-right: 10px;
}

form input[type="text"], button[type="submit"]{  
    /* Attribute selector */
        border: none;
        font-size: 18px;
        padding: 10px;
        border-radius: 10px;
}

form button[type="submit"]{
    color: black;
    background-color: #DCD7C9;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s ease-out;
}
form button[type="submit"]:hover{
    color: white;
    background-color: #5C527F;
    font-weight: 500;
    
}

/* Recipe POP UP details STYLING */
    .recipe-details{
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        background-color: #232D3F;
        border-radius: 12px;
        width: 40%;
        height: 60%;
        font-size: 20px;
        /* opacity: 70%; */
        transition: all 0.5s ease-in-out;
        overflow-y: scroll ;
    }
   /* Adding scroll bar (creating it) */
   .recipe-details::-webkit-scrollbar{
        width: 10px;
   }

   .recipe-details-content{
    padding: 30px;
   } 
   .recipe-name{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    
   }

   .ingredient-list li{
    margin-top: 10px;
    margin-left: 20px;
   }
   .instructions p{
    line-height:  30px;
    white-space: pre-line;
   }

   .close-btn{
    border: none;
    font-size: 15px;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #1e313b;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
   }
   .close-btn:hover{
    background-color: #686576;
    transition: background-color 0.2s ease-out;
   }

   /* giving margins to recipename, ingredients and instructions together */
   .recipe-name .instructions .ingredient-list{
    margin-bottom: 20px;
   }
   
   .recipe-details::-webkit-scrollbar-thumb{
     /* setting background */
     background-color: #878a8f;
     border-radius: 16px;
     --wbkit-border-radius: 16px;

   }




/* ------------------------------------------ */
/* MAIN SECTION CSS STYLING JAVASCIPT INNERHTML ELE*/
/* USING FLEX-BOX and GRID */

.recipe-container{
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    place-items: center;
}
.recipe img{
    height: 300px;
}
.recipe h3{
    font-size: 24px;
    margin-block: 5px;
}
.recipe p{
    color: #9DB2BF;
    font-size: 20px;
    margin: 5px 0;
}
.recipe span{
    font-weight: 600;
}

.recipe{

    background-color: #3F4E4F;
    display: flex;
    flex-direction: column;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1), -5px -5px 10px  rgba(34, 33, 33, 0.5);
    cursor: pointer;
    max-width: 350px;
    transition: transform 0.3s ease-in-out;
}
.recipe:hover{
    transform: scale(1.03);
    
}
/* Show Ingredients button */
.recipe .view-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    margin: 18px auto;
    color: #233b4a;
    background-color: #DCD7C9;
    transition: background-color 0.2s ease-out;
    
}
.recipe .view-btn:hover {
    background-color: #1e313b;
    color: #DCD7C9;
}

/* Youtube link button */
.recipe .view-youtube-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    margin: 18px auto;
    color: #233b4a;
    background-color: #DCD7C9;
    transition: background-color 0.2s ease-out;
    
}
.recipe .view-youtube-btn:hover {
    background-color: #1e313b;
    color: #DCD7C9;
}





/* DYNAMIC STYLING */
@media screen and (max-width: 600px){
    header nav{
        flex-direction: column;
    }

    header nav form{
        width: 80%;
        margin-top: 20px;
    }

    
    
}